In [45]:
import create_population
import preprocessing
from feature_engineering import FeatureCreator
from feature_engineering_prediction import PredictionFeatureCreator

import prediction

import pandas as pd


import html5lib

%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [46]:
%autoreload

In [64]:
population = create_population.create(from_="2019-01-01", to_="2023-12-31")

In [72]:
population

            race_id        date    horse_id
0      201906010105  2019-01-05  2016104656
1      201906010105  2019-01-05  2016103323
2      201906010105  2019-01-05  2016105106
3      201906010105  2019-01-05  2016102787
4      201906010105  2019-01-05  2016102128
...             ...         ...         ...
85562  202309050912  2023-12-28  2017104873
85563  202309050912  2023-12-28  2019100653
85564  202309050912  2023-12-28  2017106240
85565  202309050912  2023-12-28  2018103205
85566  202309050912  2023-12-28  2017102603

[85567 rows x 3 columns]

In [66]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.reset_option('display.precision')
pd.reset_option('display.float_format')

In [67]:
#futre_修正、馬場状態
# レース結果テーブルの前処理
results_preprocessed = preprocessing.process_results()
# 馬の過去成績テーブルの加工
horse_results_preprocessed = preprocessing.process_horse_results()
# レース情報テーブルの前処理
race_info_preprocessed = preprocessing.process_race_info()

In [71]:
from pathlib import Path

from tqdm.notebook import tqdm
import json
import re
from pathlib import Path

import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from tqdm.notebook import tqdm
from webdriver_manager.chrome import ChromeDriverManager
from io import StringIO 

DATA_DIR = Path("..", "data")
POPULATION_DIR = DATA_DIR / "00_population"
INPUT_DIR = DATA_DIR / "01_preprocessed"
OUTPUT_DIR = DATA_DIR / "02_features"
OUTPUT_DIR.mkdir(exist_ok=True, parents=True)

population_dir = POPULATION_DIR
poplation_filename = "population_turf.csv"
input_dir = INPUT_DIR
results_filename = "results_turf.csv"
race_info_filename = "race_info_turf.csv"
horse_results_filename = "horse_results_turf.csv"
jockey_leading_filename = "jockey_leading.csv"
trainer_leading_filename = "trainer_leading.csv"
peds_filename = "peds_turf.csv"
sire_leading_filename = "sire_leading.csv"
output_dir = OUTPUT_DIR
output_filename = "features.csv"
population = pd.read_csv(population_dir / poplation_filename, sep="\t")
results = pd.read_csv(input_dir / results_filename, sep="\t")
race_info = pd.read_csv(input_dir / race_info_filename, sep="\t")
horse_results = pd.read_csv(input_dir / horse_results_filename, sep="\t")
jockey_leading = pd.read_csv(input_dir / jockey_leading_filename, sep="\t")
trainer_leading = pd.read_csv(
    input_dir / trainer_leading_filename, sep="\t"
)
peds = pd.read_csv(input_dir / peds_filename, sep="\t")
sire_leading = pd.read_csv(input_dir / sire_leading_filename, sep="\t")
output_dir = output_dir
output_filename = output_filename
agg_horse_per_group_cols_dfs = {}

In [73]:

"""
horse_resultsをレース結果テーブルの日付よりも過去に絞り、集計元のログを作成。
"""
df = (
    results[["race_id", "horse_id","mean_age_kirisute"]]
    .merge(race_info[["race_id", "race_type", "season","race_class"]], on="race_id")
)
race_info = race_info.copy()


"""

dfに新たな列、race_gradeを作成して欲しい
作成ルールは以下の通りである
'age_season'の条件に引っかかった場合、それを優先すること
次点で"race_class"の条件にかかっても、'age_season'がある方を優先して変換すること


"race_class"列が0は55

"race_class"列が1は60

"race_class"列が2は70
2歳それ以外は68（20<='age_season'<30かつ、2<="race_class"列<5の行）
2歳G2,G3,OPは73（20<='age_season'<30かつ、5<="race_class"列<8の行）

"race_class"列が3は79
2歳G1は79（20<='age_season'<30かつ、8<="race_class"の行）
3歳春OPは80（30<='age_season'<33かつ、4<="race_class"列<6の行）
3歳春G2.G3は81（30<='age_season'<33かつ、6<="race_class"列<8の行）

"race_class"列が4は85
3歳春G1は86（30<='age_season'<33かつ、8<="race_class"の行）
3歳秋G2,G3は86（33<='age_season'<40かつ、5<="race_class"列<8の行）

"race_class"列が5は89
3歳秋G1は91（33<='age_season'<40かつ、8<="race_class"の行）

"race_class"列が6は92

"race_class"列が7は94

"race_class"列が8は98




これらを小さく（1/10 - 5）した列

G1 8	100
G2 7	95
G3 6	92
オープン5	89
1600万4	86
２勝クラス3	80
１勝クラス2	70
未勝利1	60
新馬0	55


クラス	芝	ダート
未勝利	６５（-１５）	６０（-２０）
500万下
Ｇ１を除く２歳ＯＰ	７５（-５）	７２（-８）
1000万下
２歳Ｇ１
Ｇ１を除く３歳春ＯＰ	８３（３）	８３（３）
1600万下
３歳春Ｇ１
３歳秋重賞	８８（８）	９０（１０）
ＯＰ（ただしダート重賞を除く）
３歳秋Ｇ１	９３（１３）	９５（１５）
ダート重賞（３歳を除く）	－	１００（２０）
古馬Ｇ１	９８（１８）	１０５（２５）
"""
# "mean_age_kirisute"と"season"を文字列に変換して結合し、int型に変換して新しい列 "age_season" を作成
df['age_season'] = (df['mean_age_kirisute'].astype(str) + df['season'].astype(str)).astype(int)

# race_gradeの作成
def calculate_race_grade(row):
    age_season = row['age_season']
    race_class = row['race_class']

    # 'age_season' に基づく条件を優先してチェック
    if 20 <= age_season < 30:
        if 2 <= race_class < 5:
            return 70
        elif 5 <= race_class < 8:
            return 70
        elif 8 <= race_class:
            return 79
    elif 30 <= age_season < 33:
        if 4 <= race_class < 6:
            return 79
        elif 6 <= race_class < 8:
            return 79
        elif 8 <= race_class:
            return 85
    elif 33 <= age_season < 40:
        if 5 <= race_class < 8:
            return 85
        elif 8 <= race_class:
            return 91
    
    if race_class == 0:
        return 55
    elif race_class == 1:
        return 60
    elif race_class == 2:
        return 70
    elif race_class == 3:
        return 79
    elif race_class == 4:
        return 85
    elif race_class == 5:
        return 89
    elif race_class == 6:
        return 91
    elif race_class == 7:
        return 94
    elif race_class == 8:
        return 98
    else:
        return np.nan  

# race_grade列を作成
df['race_grade'] = df.apply(calculate_race_grade, axis=1)

#race_grade_scaledの作成
df['race_grade_scaled'] = df['race_grade'] / 10 - 5

race_info[['age_season', 'race_grade', 'race_grade_scaled']] = df[['age_season', 'race_grade', 'race_grade_scaled']]
race_info.to_csv(input_dir/race_info_filename, sep="\t", index=False)

In [54]:

#基準タイムの選定
"""

（	基準
タイム	－	走破
タイム	）×	距離
指数	＋（	斥量	－	５５	）×	２	＋	馬場
指数	＋	８０	＝	スピード指数


１０００万クラスのタイムを基準
85
"""

baselog = (
    population.merge(
        race_info[["race_id", "course_len", "race_type","race_grade","ground_state", "weather","place"]], on="race_id"
    )
)
df = (
    baselog
    .merge(results[["race_id", "horse_id", "wakuban", "time","umaban","impost"]], on=["race_id", "horse_id"])
)

df["place"] = df["place"].astype(int)
df["race_grade"] = df["race_grade"].astype(int)
df["ground_state"] = df["ground_state"].astype(int)
df["weather"] = df["weather"].astype(int)  
df["distance_place_type"] = (df["course_len"].astype(str) + df["place"].astype(str) + df["race_type"].astype(str)).astype(int)

# 1. 計算したいrace_gradeのリスト
grades = [55, 60, 70, 79, 85, 89, 91, 94, 98]
# 2. 各race_gradeごとにtimeの平均を計算し、結合
for grade in grades:
    # race_gradeが指定された値のときのtimeの平均を計算
    time_nobori_avg = (
        df[df['race_grade'] == grade]  # race_gradeが指定のgradeの行を抽出
        .groupby(['course_len', 'place', 'race_type'])[['time']]  # 3つのカテゴリごとにtimeとnoboriを集計
        .mean()
        .reset_index()  # インデックスをリセット
        .rename(columns={'time': f'time_avg_{grade}'})  # 列名を変更
    )
    df = pd.merge(df, time_nobori_avg, on=['course_len', 'place', 'race_type'], how='left')
df

,race_id,date,horse_id,course_len,race_type,race_grade,ground_state,weather,place,wakuban,time,umaban,impost,distance_place_type,time_avg_55,time_avg_60,time_avg_70,time_avg_79,time_avg_85,time_avg_89,time_avg_91,time_avg_94,time_avg_98
0,202306010105,2023-01-05,2020101772,1600,1,60,0,1,6,1,94.1,1,56.0,160061,NaN,95.664151,95.45894,96.176712,NaN,94.644872,94.311111,NaN,NaN
1,202306010105,2023-01-05,2020100301,1600,1,60,0,1,6,2,94.1,3,56.0,160061,NaN,95.664151,95.45894,96.176712,NaN,94.644872,94.311111,NaN,NaN
2,202306010105,2023-01-05,2020102740,1600,1,60,0,1,6,8,94.6,16,56.0,160061,NaN,95.664151,95.45894,96.176712,NaN,94.644872,94.311111,NaN,NaN
3,202306010105,2023-01-05,2020103246,1600,1,60,0,1,6,3,94.8,5,54.0,160061,NaN,95.664151,95.45894,96.176712,NaN,94.644872,94.311111,NaN,NaN
4,202306010105,2023-01-05,2020105053,1600,1,60,0,1,6,2,94.8,4,52.0,160061,NaN,95.664151,95.45894,96.176712,NaN,94.644872,94.311111,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17425,202309050912,2023-12-28,2017104873,1200,1,70,0,1,9,6,69.5,11,58.0,120091,NaN,69.428750,68.72027,68.906977,NaN,68.523810,NaN,NaN,NaN
17426,202309050912,2023-12-28,2019100653,1200,1,70,0,1,9,8,69.5,15,56.0,120091,NaN,69.428750,68.72027,68.906977,NaN,68.523810,NaN,NaN,NaN
17427,202309050912,2023-12-28,2017106240,1200,1,70,0,1,9,4,69.6,7,58.0,120091,NaN,69.428750,68.72027,68.906977,NaN,68.523810,NaN,NaN,NaN
17428,202309050912,2023-12-28,2018103205,1200,1,70,0,1,9,8,69.8,16,58.0,120091,NaN,69.428750,68.72027,68.906977,NaN,68.523810,NaN,NaN,NaN
17429,202309050912,2023-12-28,2017102603,1200,1,70,0,1,9,7,70.4,14,58.0,120091,NaN,69.428750,68.72027,68.906977,NaN,68.523810,NaN,NaN,NaN

            race_id        date    horse_id  speed_index
0      202306010105  2023-01-05  2020101772   142.458996
1      202306010105  2023-01-05  2020100301   142.458996
2      202306010105  2023-01-05  2020102740   142.458996
3      202306010105  2023-01-05  2020103246   139.058996
4      202306010105  2023-01-05  2020105053   135.658996
...             ...         ...         ...          ...
17425  202309050912  2023-12-28  2017104873   153.075413
17426  202309050912  2023-12-28  2019100653   149.675413
17427  202309050912  2023-12-28  2017106240   153.075413
17428  202309050912  2023-12-28  2018103205   153.075413
17429  202309050912  2023-12-28  2017102603   153.075413

[17430 rows x 4 columns]

In [ ]:


# 1. 補完する順番を指定
grades = [85, 79, 89, 70, 91, 60, 94, 55, 98]

# 2. まずhorse_results_baselog内の補完処理を行う
df['final_time_avg'] = np.nan

# 3. 最初に85で補完
df['final_time_avg'] = np.where(
    df['final_time_avg'].isna(), 
    df['time_avg_85'], 
    df['final_time_avg']
)

# 4. 残りのグレードで補完（順番に）
for grade in grades:
    # `85`はすでに補完されているので、以降のグレードのみで補完
    if grade != 85:
        time_col = f'time_avg_{grade}'
        # timeの欠損を補完
        df['final_time_avg'] = np.where(
            df['final_time_avg'].isna(), 
            df[time_col], 
            df['final_time_avg']
        )
        
# 5. 不要な中間列を削除し、必要な列だけ残す
columns_to_drop = [f'time_avg_{grade}' for grade in grades]
df = df.drop(columns=columns_to_drop)



# 1. final_time_avgからtimeを引いた数値（秒）を計算
df['time_diff_sp'] = df['final_time_avg'] - df['time']

# 2. time_diffを0.1秒ごとのポイントに変換（1ポイント = 0.1秒）
df['time_points'] = (df['time_diff_sp'] *10)


"""
距離指数をかける
"""

# 2. time_diffを0.1秒ごとのポイントに変換（1ポイント = 0.1秒）
df['time_points_course_index'] = (df['time_points'] *(1600/df["course_len"]))


"""
＋（	斥量	－	５５	）
"""
# 2. time_diffを0.1秒ごとのポイントに変換（1ポイント = 0.1秒）
df['time_points_impost'] = (df['time_points_course_index'] +(df["impost"]-55) *1.7)


"""
（	走破
タイム	－	基準
タイム（グレード別）	）×	距離
指数	＋	クラス値　＋pase_diff

ハイペースなら低く（早く見える）でてしまう
スローペースなら高く（遅く見える）でてしまう
pase_diffは+だとハイペース
-だとスローペースなので
そのまま+してよいかも
"""

# race_gradeが指定された値のときのtimeとnoboriの平均を計算
time_nobori_grade_avg = (
    df.groupby(['course_len', 'place', 'race_type',"race_grade"])['time']# 3つのカテゴリごとにtimeとnoboriを集計
    .mean()
    .reset_index()  # インデックスをリセット
    .rename(columns={'time': f'time_grade_avg'})   # 列名を変更
)

# 元のDataFrameにマージ（left join）
df = pd.merge(df, time_nobori_grade_avg, on=['course_len', 'place', 'race_type',"race_grade"], how='left')


# 1. final_time_avgからtimeを引いた数値（秒）を計算
df['time_diff_grade'] = df['time'] - df["time_grade_avg"] 

# 2. time_diffを0.1秒ごとのポイントに変換（1ポイント = 0.1秒）
df['time_points_grade'] = (df['time_diff_grade'] *10)


"""
距離指数をかける
"""

# 2. time_diffを0.1秒ごとのポイントに変換（1ポイント = 0.1秒）
df['time_points_grade_index'] = (df['time_points_grade'] *(1600/df["course_len"]))

df['time_condition_index'] = df['time_points_grade_index']  +df['race_grade']


df['speed_index'] = df['time_points_impost'] + df['time_condition_index'] + 80

df = df[['race_id',
'date',
'horse_id',
# 'time_diff_sp',
# 'time_points_course_index',
# 'time_points_impost',
# 'time_diff_grade',
# 'time_points_grade_index',
# 'time_condition_index',
'speed_index']]

In [13]:



# 1. final_time_avgからtimeを引いた数値（秒）を計算
df['time_diff_sp'] = df['final_time_avg'] - df['time']

# 2. time_diffを0.1秒ごとのポイントに変換（1ポイント = 0.1秒）
df['time_points'] = (df['time_diff_sp'] *10)


"""
距離指数をかける
"""

# 2. time_diffを0.1秒ごとのポイントに変換（1ポイント = 0.1秒）
df['time_points_course_index'] = (df['time_points'] *(1600/df["course_len"]))


"""
＋（	斥量	－	５５	）
"""
# 2. time_diffを0.1秒ごとのポイントに変換（1ポイント = 0.1秒）
df['time_points_impost'] = (df['time_points_course_index'] +(df["impost"]-55) *1.7)


"""
（	走破
タイム	－	基準
タイム（グレード別）	）×	距離
指数	＋	クラス値　＋pase_diff

ハイペースなら低く（早く見える）でてしまう
スローペースなら高く（遅く見える）でてしまう
pase_diffは+だとハイペース
-だとスローペースなので
そのまま+してよいかも
"""

# race_gradeが指定された値のときのtimeとnoboriの平均を計算
time_nobori_grade_avg = (
    df.groupby(['course_len', 'place', 'race_type',"race_grade"])['time']# 3つのカテゴリごとにtimeとnoboriを集計
    .mean()
    .reset_index()  # インデックスをリセット
    .rename(columns={'time': f'time_grade_avg')})  # 列名を変更
)

# 元のDataFrameにマージ（left join）
df = pd.merge(df, time_nobori_grade_avg, on=['course_len', 'place', 'race_type',"race_grade"], how='left')


# 1. final_time_avgからtimeを引いた数値（秒）を計算
df['time_diff_grade'] = df['time'] - df["time_grade_avg"] 

# 2. time_diffを0.1秒ごとのポイントに変換（1ポイント = 0.1秒）
df['time_points_grade'] = (df['time_diff_grade'] *10)


"""
距離指数をかける
"""

# 2. time_diffを0.1秒ごとのポイントに変換（1ポイント = 0.1秒）
df['time_points_grade_index'] = (df['time_points_grade'] *(1600/df["course_len"]))

df['time_condition_index'] = df['nobori_points_grade_index'] +df['pace_diff'] +df['race_grade']


df['speed_index'] = df['time_points_impost'] + df['time_condition_index'] + 80

df = df[['race_id',
'date',
'horse_id',
# 'time_diff_sp',
# 'time_points_course_index',
# 'time_points_impost',
# 'time_diff_grade',
# 'time_points_grade_index',
# 'time_condition_index',
'speed_index']]

grouped_df = horse_results_baselog.groupby(["race_id", "horse_id"])
merged_df = self.population.copy()
for n_race in tqdm(n_races, desc=f"speed_index"):
    df_speed = (
        grouped_df.head(n_race)
        .groupby(["race_id", "horse_id"])[
            [
                'time_diff_sp',
                'nobori_diff_sp',
                'time_points_course_index',
                'nobori_points_course_index',
                'time_points_impost',
                'nobori_points_impost',
                'time_diff_grade',
                'nobori_diff_grade',
                'time_points_grade_index',
                'nobori_points_grade_index',
                'time_condition_index',
                'nobori_condition_index',
                'speed_index',
                'nobori_index',
            ]
        ]
        .agg(["mean", "max", "min"])
    )
    original_df = df_speed.copy()
    df_speed.columns = [
        "_".join(col) + f"_{n_race}races" for col in df_speed.columns
    ]
    # レースごとの相対値に変換
    tmp_df = df_speed.groupby(["race_id"])
    relative_df = ((df_speed - tmp_df.mean()) / tmp_df.std()).add_suffix("_relative")
    merged_df = merged_df.merge(
        relative_df, on=["race_id", "horse_id"], how="left"
    )
    # 相対値を付けない元の列をそのまま追加
    original_df.columns = [
        "_".join(col) + f"_{n_race}races" for col in original_df.columns
    ]  # 列名変更
    
    merged_df = merged_df.merge(
        original_df, on=["race_id", "horse_id"], how="left"
    )

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 102)